{% extends 'index.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if saved%}
<dl id="savedDetails" class="row detailView" >
    <dt class="col-sm-4">Your Notes:</dt>
    <dd class="col-sm-8">{{saved.comment}}</dd>
    <button id="edit" class="btn btn-info">Edit</button>
    <button id="deleteSavedBill"  class="btn btn-danger">Remove from Saved</button>
</dl>
<form id="editForm" action="{% url 'website:edit_saved_bill' bill.bill_slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="editComment">Edit Comment</label>
      <input type="textarea" class="form-control" name="editComment" id="editComment" value="{{ saved.comment }}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% else %}
<form action="{% url 'website:save_bill'  bill.bill_slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">Save This Bill</label>
      <input type="textarea" class="form-control" name="comment" id="comment" placeholder="Add Notes (optional)">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  {% endif %}
{% endif %}
<h5>{{bill.title}}</h5>
<dl class="row detailView" >
    <dt class="col-sm-4">Sponsor:</dt>
    <dd class="col-sm-8">{{bill.sponsor_title}} {{bill.sponsor}} ({{bill.sponsor_party}})</dd>
    <dt class="col-sm-4">State:</dt>
    <dd class="col-sm-8">{{bill.sponsor_state}}</dd>
    <dt class="col-sm-4">Subject:</dt>
    <dd class="col-sm-8">{{bill.primary_subject}}</dd>
    <dt class="col-sm-4">Committee:</dt>
    <dd class="col-sm-8">{{bill.committees}}</dd>
    <dt class="col-sm-4">Introduced Date:</dt>
    <dd class="col-sm-8">{{bill.introduced_date}}</dd>
    <dt class="col-sm-4">Latest Major Action:</dt>
    <dd class="col-sm-8">{{bill.latest_major_action_date}}: {{bill.latest_major_action}} </dd>
    <dt class="col-sm-4">Summary:</dt>
    <dd class="col-sm-8">{{bill.summary}}</dd>
  </dl>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {

    $("#editForm").hide()

    $('#edit').click(function() {
      $("#editForm").show()
      $("#savedDetails").hide()
    })

  })
</script>
{% endblock %}