{% extends 'index.html' %}

{% block content %}
    <h1>Register with Billy</h1>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'website:index' %}">Return to the homepage.</a><br />
    {% else %}

    <form id="user_form" method="post" action="{% url 'website:register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}

        {{ profile_form.as_p }}

        <input type="hidden" value="{{next}}" name="next"/>
        <!-- Provide a button to click to submit the form. -->
        <input class="btn btn-primary" type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock content %}
